.cart-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.2em;
    margin: 0em auto;
    max-width: 57em;
}

.cart-games {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}

.cart-indiv-game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #16202D;
    padding: 0em 1em;
    height: 6.5em;
}

.no-cart-games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #16202D;
    padding: 2em 0em;
    height: 10em;
    color: #c7d5e0;
}

.cart-indiv-game-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5em;
    color: #c7d5e0;
}

.cart-game-img {
    height: 4em;
    width: 10em;
}

.cart-indiv-game-name {
    font-size: 14px;
}

.cart-indiv-game-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.4em;
    color: #c7d5e0;
}

.cart-remove-game {
    text-decoration: underline;
    border: none;
    background: none;
    color: #56707f;
    cursor: pointer;
    font-size: 11px;
}

.cart-remove-game:hover {
    color: #67c1f5;
}

.cart-total {
    background-color: #16202D;
    height: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0em 1.5em;
}

.cart-estimate {
    display: flex;
    justify-content: space-between;
    color: #c7d5e0;
    font-weight: bold;
}

.cart-purchase {
    display: flex;
    align-self: flex-end;
}

.cart-purchase-button {
    padding: 0.6em 1.5em;
    border-radius: 3px;
    border: none;
    color: #D2E885;
    background: linear-gradient(to bottom, rgba(121, 153, 5, 1) 5%, rgba(83, 105, 4, 1) 95%);
    cursor: pointer;
    font-size: 15px;
}

.cart-purchase-button:hover {
    background: rgb(161, 204, 7);
    background: linear-gradient(0deg, rgba(161, 204, 7, 1) 0%, rgba(110, 139, 5, 1) 100%);
    color: #FFEF9E;
}

.cart-purchase-button-disabled {
    padding: 0.6em 1.5em;
    border-radius: 3px;
    border: none;
    color: #D2E885;
    background: linear-gradient(to bottom, rgba(121, 153, 5, 1) 5%, rgba(83, 105, 4, 1) 95%);
    cursor: not-allowed;
    font-size: 15px;
    opacity: 50%;
}

.continue-shopping-button {
    padding: 0 1em;
    font-size: 15px;
    line-height: 30px;
    color: #67c1f5;
    background-color: rgba(103, 193, 245, 0.2);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

.continue-shopping-button:hover {
    color: white;
    background: linear-gradient(135deg, #54a5d4 0%, rgba(103, 193, 245, 0.2) 100%);
}
