.profile-dropdown {
  position: absolute;
  border: 1px solid #171a21;
  box-shadow: 2px 0px 20px black;
  top: 3.4em;
  margin-top: 0.5em;
  width: 10em;
  min-width: fit-content;
  height: 8em;
  color: #b8b6b4;
  background-color: #171a21;
  padding: 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  /* row-gap: 1em; */
  justify-content: space-between;
}

.hidden {
  display: none;
}

.nav-bar-green {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.nav-bar-grey-seperator {
  display: flex;
  flex-direction: column;
  row-gap: 0.9em;
}

.nav-bar-seperator {
  display: flex;
  flex-direction: column;
  width: 59em;
  justify-content: center;
  margin: auto;
}

.nav-bar-grey {
  display: flex;
  flex-direction: row;
  width: 61em;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
  margin: auto;
  background: #2F343F;
  color: #ebebeb;
  padding: 1em 1em;
}

.nav-cart-button-div {
  align-self: flex-end;
  border: none;
  box-shadow: 0 0 3px #000;
  border-radius: 1px;
  background-color: rgba(164, 208, 7, 0.4);
}

.nav-cart-button {
  border: none;
  box-shadow: 0 0 3px #000;
  border-radius: 1px;
  font-size: 12px;
  color: #a4d007;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/storemenu/background_cart.jpg);
  background-position: -34px 20px;
  padding: 0.2em 2.5em;
  cursor: pointer;
}

.nav-cart-button:hover {
  color: black;
  background: #8BAF05;
}

.nav-green-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  height: 2em;
}

.nav-bar-green-options {
  display: flex;
  /* column-gap: 1em; */
  /* padding: 1em 1em; */
}

.navbar-user-pic-green {
  height: 1em;
  width: 1em;
  /* border: 2px solid grey; */
}

.nav-bar-green-options-buttons {
  border: none;
  padding: 2% 1em;
  background: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6d4df;
  cursor: pointer;
  text-decoration: none;
}

.nav-bar-green-options-buttons:hover {
  background: rgb(48, 127, 190);
  background: linear-gradient(270deg, rgba(48, 127, 190, 1) 0%, rgba(58, 101, 147, 1) 100%);
}

.Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -1em -1em;
  height: 8.5em;
  background-color: #171a21;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  /* padding: 0em 17.3em; */
}

.nav-bar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70.5em;
  height: 100%;
}

.homepage-logo {
  text-decoration: none;
  color: #b8b6b4;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
}

.home-logo {
  height: 4em;
  object-fit: contain;
}

.homepage-user-navoptions {
  color: #b8b6b4;
  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
  padding-right: 12em;
}

.homepage-user-interact {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5em;
  align-self: flex-start;
  margin-top: 1em;
  padding-right: 4em;
}

.install-steam-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
  cursor: not-allowed;
  background-color: #5c7e10;
  color: #e5e4dc;
  border: none;
  padding: 0.4em 0.9em;
  font-size: 11px;
  font-weight: normal;
}

.navbar-user-username-dropdown {
  display: flex;
  flex-direction: row;
  width: fit-content;
  /* positio  n: relative; */
}

.login-button {
  text-decoration: none;
  color: #b8b6b4;
  font-size: 12px;
  background: none;
  border: none;
}

.login-button:hover {
  text-decoration: none;
  color: white;
}

.navbar-user-loggedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
}

.navbar-user-pic {
  height: 2.7em;
  border: 2px solid grey;
}
