.search-bar {
    background-image: none;
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    outline: none;
    height: 24px;
    width: 12em;
    margin-right: 0.2em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-input {
    font-style: italic;
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    background-color: transparent;
    border: none;
    margin-left: 8px;
    outline: none;
}

.search-button {
    position: relative;
    right: 5px;
    border: none;
    border-radius: 2px;
    height: 95%;
    background-color: #67BFF1;
    cursor: pointer;
}

.search-bar:hover {
    border: 1px solid #4C9ACC;
}

.search-results-container {
    /* width: 60em; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results-header {
    display: flex;
    flex-direction: row;
    width: 27.5em;
    justify-content: flex-start;
    align-items: center;
    /* background: #2F343F;
    box-shadow: 2px 5px 10px black; */
    color: #ebebeb;
    padding: 1em 1em;
    margin-top: 0em;
    border-bottom: 1px solid black;
}

.no-search-results {
    display: flex;
    color: #ebebeb;
    position: relative;
    left: -10.5em;
}

.search-game-block {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    background-color: #22394B;
    width: 59em;
}

.search-game-block:hover {
    background-color: #A0C6DC;
}
